{
  "singleQuote": true,
  "trailingComma": "none",
  "semi": false,
  "bracketSpacing": true,
  "tabWidth": 2,
  "endOfLine": "lf",
  "useTabs": false,
  "bracketSameLine": true,
  "arrowParens": "avoid",
  "printWidth": 120
}